<center>
<h1>Welcome <%=@user.name %> to this multistep registration</h1><br>
<h2>name: <%= @user.name%><br>
DOB: <%= @user.DOB%>
Email: <%= @user.email%><br>
Father_name: <%= @user.father_name%><br>
Address: <%= @user.address%><br>
Aadhar: <%= @user.aadhar_no%><br>
</h2>
</center>
